* text=auto
*.ps1 text eol=crlf
*.sh text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.py text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.gradle text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf